/* Header navigation bar - start */
.nav-bar {
  display: flex;
  background-color: aliceblue;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.nav-bar-element {
  margin-right: 0.5rem;
}

.nav-bar-signin {
  display: flex;
  margin-left: auto;
}

.nav-bar-signin-element {
  margin-left: 0.5rem
}
/* Header navigation bar - end */

/* Sign in element - start */
.user-administration-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-submit-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

#user-submit-button {
  width: 100%;
  border-radius: 24px;
}
/* Sign in element - end */

/* Listings - start */

/* All listings container */
.all-listings-container {
  padding: 5px;
}

/* Listing Container */
.listing-container {
  border: 1px solid;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  
}

/* Listing form page - start */
.listing-form-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.listing-form-field {
  padding: 0.5rem;
}

.listing-form-submit {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

/* Listing form page - end */


/* Listings - end */

/* Categories page - start */
.all-categories-container {
  display: flex;
  flex-flow: row wrap;
  /* margin-top: 0.2rem; */
}

.category-container {
  padding: 5px;
  flex: 48%;
}

.category-title {
  border-bottom: 2px solid;
}

.category-subcategory-list {
  text-align: left;
  padding-left: 0px;
  width: fit-content;
}

/* Categories page - end */